.window-wrapper {
  position: relative;
  min-width: 300px;
  min-height: 150px;
  background: rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 0 3px white;

  img {
    vertical-align: top;
    min-width: 300px;
    max-width: 500px;
  }

  &.disabled {
    opacity: .6;
    cursor: default;
  }
}

.loader {
  width: 100%;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.interval {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  color: #f3f3f3;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
}
