.wrapper {
  position: absolute;

  &.hidden {
    display: none;
  }

  &:hover {
    cursor: move;
  }
}

.buttons {
  position: absolute;
  top: 0;
  right: -2px;

  .btn {
    margin-bottom: 5px;
    background: white;
    border: 2px solid #333;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 0 3px white;
    font-size: 10px;
    text-transform: lowercase;
    text-align: center;
    width: 100%;
    cursor: pointer;
    outline: none;
    color: #333;

    &:hover {
      border-color: rgba(51, 51, 51, .8);
    }
  }
}

.focused .focus-btn {
  color: rgba(242, 17, 39, 1);
  border-color: rgba(242, 17, 39, 1);

  &:hover {
    border-color: rgba(242, 17, 39, .8);
  }
}

.number {
  display: block;
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid #333;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white;
  width: 30px;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
