.clock-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333;
  box-shadow: 0 0 0 3px white, inset 0 0 0 3px white;;
  color: #333;
  text-align: center;
  line-height: 150px;
  font-size: 24px;
}
