.paint {
  &-wrapper {
    width: 160px;
    padding-bottom: 160px;
    position: relative;
    overflow: hidden;
  }

  &-triangle {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 122, 199, 0.7);
    box-shadow: 0 0 0 3px white;
    transform-origin: 0 100%;
    transform: rotate(45deg) skew(16deg, 16deg);
    transition: opacity .3s;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }
}
